<div data-ng-controller="SocialTeamsController" data-ng-init="findOneSocialTeam();findLeagues()">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" data-ng-model="socialTeam.name" id="name" placeholder="Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="league">League</label>
      <div class="controls">
        <select 
          data-ng-model="socialTeam.leagueId" 
          name="league" 
          required="required"
          data-ng-options="c.$id as c.name for c in leagues">
          <option data-ng-show="noSocialTeam" value="">Choose a league:</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button data-ng-click="create()" data-ng-show="noSocialTeam">Create Social Team</button>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a href="#/socialteams">View all Social Teams</a>
      </div>
    </div>
  </form>
  <p data-ng-show="err" class="error">{{err}}</p>
</div>